*{
    padding: 0;
    margin: 0;
}
  body {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    color: #333;
  }


  /* menu */
  .menu{
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* padding-left: 15%;
    padding-right: 30px; */
    padding: 24px 30px 24px 15%;
    
  }
  .menu ul {
    background: #fff;
    list-style-type: none;
    
    
    
  }
.menu li {
    color: #302f2f;
    display: inline-block;
    height: 25px;
    position: relative;
    line-height: 1.71429;
    padding: 1px 10px;
}
.menu ul li a {
    text-decoration: none;
    color: #878787;
    display: block;
}
.menu ul li a:hover{
    color: #b8784e;
}
.menu .menu-left {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start; 
    
}
.menu .menu-right {
    width: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:flex-end; 
    align-items: center;

}
.menu .menu-right .fa-search {
    padding-left: 50px;
}
.menu .menu-right .fas{
    padding: 0 20px;
}

.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 20;
    transition: 1s all ease;
    text-align: left;
   
    
   }
   .sub-menu .sub{
    margin-top: 15px;
    padding: 20px 35px;
    width: 212px;
    height: auto;
    background: #fff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);

   }
.menu ul li:hover .sub-menu {
    
    display: block;
    background-color: #ffffff;
    
}
.page-rel{
    position: relative;
}
.sub-menu .page-rel .page-four {
    position: absolute;
    top: 0;
    left: -600px;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 100px;  
    height: auto;
    background: #fff;
    padding: 30px 155px 30px 75px; 
    margin-top: 15px; 
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
    transition: 1s all ease;

}
.sub-menu .page-rel .page-four a{
    width: 212px;
}
  /* end menu */


 /* OUR STORE */
 .ourstore{
     color: #fff;
     background-color: #302f2f;
 }
 /* END OUR STORE */
  
